@tailwind base;
@tailwind components;
@tailwind utilities;


main {
    min-height: calc(100vh - 160px);
}

.income-banner-bg {
    background-image: url(/income.webp);
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 160px);
}
.expense-banner-bg {
    background-image: url(/expense.jpg);
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 160px);
}